<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My portfolio</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Mes Projets</h3>
    <div class="row">
        {% for x in listP %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{x.titre}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{x.description}}</h6>
                    <img src="{{x.image_url}}" width="200" height="200"/><br><br>
                    <button class="btn btn-info" value="suivre">suivre le détail</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>